@import '../../variables.scss';

.blogs-page {
  @include themify($themes) {
    margin-top: 60px;
    padding: 20px 20px;
    background-color: themed('bg');
    color: themed('textColor');
    font-family: 'Lato', sans-serif;
    font-size: 20px;

    .introduction {
      background: themed('bgSoft');
      padding: 15px 20px;
      top: 10px;
      border-radius: 5px;
      max-width: 60vw;
      margin-left: auto;
      margin-right: auto;
    }

         .posts {
           flex: 1;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           gap: 50px;
           margin-top: 30px;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 30px;
    
           div {
             border-radius: 8px;
             background: themed('border');
             max-height: auto;
             max-width: auto;
           }
         }
  }
}