@import '../../variables.scss';

.blogs-page {
  @include themify($themes) {
    margin-top: 60px;
    padding: 20px 20px;
    background-color: themed('bg');
    color: themed('textColor');
    font-family: 'Lato', sans-serif;
    font-size: 25px;

    .introduction {
      background: themed('bgSoft');
      padding: 20px 20px;
      top: 10px;
      border-radius: 5px;
    }
  }
}