@import '../../variables.scss';

.footer {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('bgSoft');

    .top {
      padding: 10px;
      display: flex;
      flex-direction: row;

      .left {
        flex: 1;
        padding: 10px;
      }
      
      .right {
      flex: 1;

      }
    }

    .bottom {
      border-top: 1px solid themed('bg');
      padding: 10px;
      display: flex;
      justify-content: center;
      color: themed('textColorSoft');
      font-weight: 600;
    }
  }
}