

div {

  p {

    
    .readmore {
      margin-right: 5px;
      display: inline;}
  
    button {

      // background-color: transparent;
      // color: white;

      border: none;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 4px;
background: -webkit-linear-gradient(#01defc, #f2f4f5);
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: -15px;
        font-weight: 700;

      &:hover {
              background: -webkit-linear-gradient(#cccccc, #1284ee);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
      }
      
  }}
}