@import '../../variables.scss';

.home {
  @include themify($themes) {
    margin-top: 60px;
    // padding: 10px 20px;
    background-color: themed('bg');

    .border {
      border-bottom: 1px solid themed('border');
      margin-bottom: 20px;
    }

    .content {
      padding: 20px;
      display: flex;
      justify-content: center;

      h1 {
        color: themed('textColorSoft');
        font-size: 70px;
      }

      img {
        width: 70vw;
        height: 80vh;
        border-radius: 10px;
      }
    }
  }
}