@import '../../variables.scss';

.modal-wrapper {
  @include themify($themes) {
    width: 100%;
    height: 100%;
    position: fixed;
    border-top: 1px solid themed('bgSoft');
    top: 70px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: themed('bgSoft');
    z-index: 999;

    .modal {
      background-color: themed('bg');
      padding: 50px;
      border-radius: 10px;
      position: relative;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        text-decoration: none;
        color: themed('textColor');
        padding: 8px 40px;
        border-bottom: 0.1px solid themed('border');

        &:hover {
          background-color: themed('bgSoft');
          border-radius: 5px;
        }
      }
    }}}