@import '../../variables.scss';

.home {
  @include themify($themes) {
    margin-top: 60px;
    // padding: 10px 20px;
    background-color: themed('bg');

    .border {
      border-bottom: 1px solid themed('border');
      margin-bottom: 20px;
    }
  }
}