@import '../../variables.scss';

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed('border');
    position: fixed;
    width: 100%;
    top: 0;
    background-color: themed('bg');
    z-index: 999;
    font-family: 'Lato', sans-serif;
    color: themed('textColor');
    

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .toggle {
        visibility: hidden;

        
        @include mobile {
          visibility: visible;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          border-color: transparent;
          background-color: themed('bg');
          color: themed('textColor');
          font-weight: 600;
          font-size: 28px;
          
         
          // &:hover {
          //   background-color: themed('bgSoft');
          //   border-radius: 50%;
          // }

          .close-icon {
            color: rgb(104, 104, 255);
            font-weight: 400;

          }
        }}

        .logo {

          text-decoration: none;
            color: themed('textColor');
            padding: 8px 40px;
            font-size: 28px;
            font-weight: 700;

          @include mobile {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 40px;
              font-size: 20px;

            }
        }
      
    }

    .middle {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      margin-right: 20px;

      a {
          text-decoration: none;
          color: themed('textColorSoft');
          padding: 8px 30px;
      
          &:hover {
            background-color: themed('bgSoft');
            
            border-radius: 25px;
          }

          @include mobile {
            display: none;

          }
        }
    }

    .right {
      flex: 1.5;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include mobile {
          gap: 5px;
          margin-right: 50px;
      
        }



      .toggleMode {
        width: 20px;
        height: 20px;
        padding: 15px;
        cursor: pointer;
        
        &:hover {
            background-color: themed('bgSoft');
            border-radius: 50%;
      }
    }
        @include mobile {
            flex: 5;
            gap: 10px;
            
          }

            .icon {
              width: 20px;
              height: 18px;
              padding: 15px;

              @include mobile {
                  width: 12px;
                  height: 12px;
                  padding: 10px;
            // margin-top: -5px;
            //       margin-left: -10px;
              
                }

              a {
                color: themed('textColor');

                         }

              &:hover {
                background-color: themed('bgSoft');
                border-radius: 50%;
              }

            }

      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 10px;

        @include mobile {
            width: 25px;
            height: 25px;
        
          }
      }
    }
  }
}